<ion-content color="primary">
  <ion-row class="title" color="primary">
    <ion-col size="12">
      <ion-icon
        [routerLink]="['/home']"
        color="primary"
        name="arrow-back"
      ></ion-icon>
      <span>Chat</span>
    </ion-col>
    <ion-col size="12"
      ><ion-searchbar
        class="search-text"
        placeholder="Search Doctor"
      ></ion-searchbar
    ></ion-col>
  </ion-row>
  <ion-row class="ion-no-padding">
    <div class="doctor-speciality">
      <div class="dr" *ngFor="let dr of image">
        <img src="{{ dr.d }}" alt="" />
      </div>
    </div>
  </ion-row>
  <ion-row class="chats">
    <ion-card
      *ngFor="let s of displayedUsers; let i = index"
      (@userAddState.done)="onUserAddDone($event, i)"
      #card
      [@userAddState]
      (click)="chatUser(s)"
    >
      <ion-row>
        <ion-col size="2"
          ><ion-img src="../../../assets/doc.png"></ion-img
        ></ion-col>
        <ion-icon
          class="dot"
          [attr.color]="s.isActive ? 'success' : ''"
          name="ellipse"
        ></ion-icon>
        <ion-col size="6">
          <ion-text>
            <h5 class="m-0 mt-2 text-dark">{{ s.n }}</h5>
            <span class="span">{{ s.c }}</span>
          </ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-text class="pt-3 time">
            <span>{{ s.t }}</span>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-row>
</ion-content>
