.singin{
  margin-top: 10%;
}
.light{
  color: rgb(99, 104, 104);
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #d8d8d8;
}

.separator:not(:empty)::before {
  margin-right: .75em;
}

.separator:not(:empty)::after {
  margin-left: .75em;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  margin: 0 3px;
}
.imgLogo{
  border: 2px solid #d8d8d8;
  border-radius: 50%;
  padding: 10px;
}
ion-input{
  border: 2px solid gray;
  --border-radius: 20px;
  border-radius: 20px;
  --padding-start: 15px;
}
.term{
  font-size: 15px;
}
